*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    text-align: center;
}
header h1{
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: white;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.col-3{
    width: 25%;
    padding: 0 10px;
}
.news-item{
    background-color: red;
    margin-bottom: 30px;
}
.news-title{
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    padding: 10px 15px;
}
.news-desc{
    color: white;
    padding: 10px 30px 39px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}